* {
   margin: 0;
   list-style: none;
   font-family: Oswald, sans-serif;
}

a {
   text-decoration: none;
   color: inherit;
}

body {
   height: 100%;
   line-height: 1;
   font-size: 16px;
   color: #000;
   background-color: rgba(255, 255, 255, 1);
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
}

.__container {
   max-width: 1220px;
   margin: 0 auto;
   padding: 0 15px;
   box-sizing: content-box;
}

._ibg {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}

._ibg img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}


.page {
   flex: 1 1 auto;
}

.page__main-block {
   position: relative;
}
/* -------------HEADER----------- */


.header {
   position: absolute;
   width: 100%;  
   z-index: 100;
   margin: 53px 0 0;
}

.header-container{
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
}

.header__body {
   display: flex;
   justify-content: space-between;
}

.header__logo {
   display: flex;
   flex-wrap: nowrap;
   margin: -15px 0 0 0;
}

.header-logo__icon {
  margin: auto 14.08px 0 0;
}

.header-logo__title {
  align-self: center;
}

.header__nav {
   display: flex;
}

.menu__item {
   font-family: Oswald, sans-serif;
   font-size: 20px;
   font-weight: 400;
   line-height: 30px;
   text-transform: uppercase;
   color:rgba(255, 255, 255, 1);
   padding-bottom: 3px;
   
}

.menu__item a:hover {
   border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.menu__item:not(:last-child) {
   margin: 0 32px 0 32px;
}

.menu__item:first-child {
   margin: 0;
}



/* -------------MAIN-BLOCK----------- */


.main-block__body {
   display: flex;
   flex: 1 1 auto;
   flex-wrap: wrap;
   position: relative;
   z-index: 2;
}

.main-block__body-information {
   font-family: Oswald, sans-serif;
   flex: 0 1 35%;
   align-items: center;
   margin: 223px auto;
}

.information__title {
   font-size: 60px;
   font-weight: 400;
   line-height: 60px;
}

.information__text {
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 400;
   line-height: 20px;
   margin: 40px 0 52px 0;
}
.information__button {
   text-transform: uppercase;
   color: rgba(255, 255, 255, 1);
   padding: 14px 26px;
   background-color: rgba(104, 183, 56, 1);
   font-size: 20px;
   font-weight: 400;
}

.information__button:hover {
   text-transform: uppercase;
   color: rgba(255, 255, 255, 1);
   padding: 14px 26px;
   background-color: #E7922D;
   font-size: 20px;
   font-weight: 400;
   transition: all 0.3s ease 0s;

}

.main-block__body-image {
   flex: 0 1 65%;
   margin: 121px auto;
}


.main-block__image {
   position: absolute;
   width: 50%;
   height: 100%;
   top: 0;
   left: 50%;
}



/* -------------OPTIONS----------- */


.options__body {
   display: flex;
   margin: 82px 0;
}

.options__column {
   flex: 0 1 50%;
   padding: 0px 0;
}

.options__item {
   padding: 41px 52px 59px 52px;
   background-color: rgba(242, 242, 242, 1);
}

.options__column:not(:last-child){
   margin: 0 80px 0 0;
}

.card-logo {
   display: flex;
   align-items: center;
}

.card-logo__title {
   margin: 0 auto 0 62px;
   font-family: Oswald, sans-serif;
   font-size: 36px;
   font-weight: 400;
   line-height: 36px;
   text-transform: uppercase;
}

.card__description {
   min-height: 72px;
   margin: 39px 0 23px 0;
   max-width: 467px;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
}

.card__link {
   font-family: Oswald, sans-serif;
}

.card-link {
   align-items: center;
   display: flex;
}

.card-link__title {
   font-family: Oswald, sans-serif;
   font-size: 20px;
   font-weight: 400;
   line-height: 30px;
   text-transform: uppercase;
}

.card-link__array {
   margin: 2px 0 0 28px;
}


/* -------------BENEFITS----------- */


.benefits__body {
   display: flex;
}

.benefits__title { 
   font-size: 60px;
   font-weight: 400;
   line-height: 60px; 
   padding: 0 0 71px 0;  
}

.benefits__column {
   flex: 0 1 25%;
   position: relative;
   background-color: rgba(255, 255, 255, 1);
}

.benefits__column:not(:last-child) {
   margin: 0 94px 0 0;
}

.benefits__item {
   position: relative;
   padding: 0 19px 20px 0;
   min-height: 280px;
}

.benefit__text {
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   margin: 31px 0 0 0;
   max-width: 227px;

}
.benefit__cover {
   position: absolute;
   width: 134px;
   height: 280px;
   top: 0;
   right: 0;
}

._ibg-first {
   object-position: top;
   bottom: 0;
   width: 112px;
   height: 279px;
  
}

/* -------------EXAMPLE----------- */
.page__example {
   position: relative;
}

.example__title {
   font-size: 60px;
   font-weight: 400;
   line-height: 60px;
   margin: 69px 0 76px 0;
}

/* -------------COMPARISON----------- */

.page__comparison {
   background-color: rgba(242, 242, 242, 1);
   position: relative;
}


.comparison__body {
   display: flex;
}

.comparison__block {
   max-width: 470px;
}

.block-comparison {
   margin: 70px 134px 75px 0;
}

.block-comparison__text {
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   max-width: 436px;
   margin: 0 0 69px 0;
}

.statistics {
   display: flex;
   flex-direction: row;
}

.statistics__item {
   min-width: 162px;
   padding: 15px 0 20px 0;
   border: 1px solid #CDCDCD;
   border-radius: 3px;
   position: relative;
   text-align: center;
}

.item-statistic:not(:last-child) {
   margin: 0 42px 0 0;
}

.item-statistic__title {
   font-size: 30px;
   font-weight: 400;
   line-height: 37px;
   text-transform: uppercase;
}

.item-statistic__subtitle {
   font-size: 14px;
   font-weight: 400;
   line-height: 14px;
   position: absolute;
   padding: 0 8px 0 8px;
   margin: 10px 0 0 0 ;
   background-color: rgba(242, 242, 242, 1);
   color: rgba(68, 68, 68, 1);
   left:50%;
   transform:translate(-50%);
   white-space: nowrap;
}

.price-tag {
   display: flex;
   margin: 55px 0 75px 0;
}

.price-tag__title {
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 400;
   line-height: 20px;
   margin: 0 65px 0 0;
}

.ptice-tag__price {
   font-size: 20px;
   font-weight: 400;
   line-height: 20px;
}

.comparison__scale {
   display: flex;
   align-items: center;
   
}

.scale-comparison__image {
   position: absolute;
   margin: -250px 0 0 -68px;
}

.scale-comparison__scale {
   margin: 215px 0 0 0;
}

.scale {
   display: flex;
   flex-direction: row;
}

.scale__text {
   margin: 5px 20px 0 20px;
   font-size: 20px;
   font-weight: 400;
   line-height: 30px;
   text-transform: uppercase;
}



/* -------------MAP----------- */
.page__map {
   position: relative;
   background-color: rgba(242, 242, 242, 1);
}

.page__map iframe {
   width: 100%;
   align-self: center;
}

.map__body {
   background-color: rgba(255, 255, 255, 1);
   display: flex;
   margin: 95px 0 104px 0;
   position: absolute;
   z-index: 100;
   padding: 66px 76px;
}


.map__content {
   display: flex; 
}

.map__pin {
   position: absolute;
   z-index: 100;
   margin: 131px 419px 0 800px ;
}

.map__text {
   max-width: 163px;
   font-size: 20px;
   font-weight: 400;
   line-height: 21px;
   text-transform: uppercase;
}

.map__column:not(:first-child) {
   font-size: 16px;
   font-weight: 400;
   line-height: 20px;
   color: rgba(68, 68, 68, 1);
   max-width: 155px;
   margin: 0 0 0 87px;
}

.map__city {
   margin: 19px 0 0 0;
}

/* -------------FOOTER----------- */

.footer {
   background-color: rgba(242, 242, 242, 1);
}

.footer__body {
   display: flex;
   justify-content: space-between;
   padding: 63px 0;
}

.social-media {
   display: flex;
}

.social-media__logo {
   margin: 0 calc(27px / 2);
}

.footer__label {
   display: flex;
}

.facebook{
   margin: -5px 0 0 calc(27px / 2) ;
}

.label__text {
   margin: 10px 22px 0 0;
}




@media (max-width: 1018px) {
   .main-block__image {
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      left: 0;
   }

   .menu__item {
      font-family: Oswald, sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      text-transform: uppercase;
      color:rgba(0, 0, 0, 1);
      padding-bottom: 3px;
      
   }
   
   .menu__item a:hover {
      border-bottom: 2px solid #68B738;
   }

   .main-block__body-information {
      font-family: Oswald, sans-serif;
      flex: 0 1 50%;
      align-items: flex-start;
      margin: 223px 117px;
      z-index: 100;
   }

   .main-block__body-image {
      flex: 0 1 65%;
      margin: -280px auto 30px;
   }
      
   .options__column {
      flex: 1 0 auto;
      padding: 0px 0;
      flex-direction: column-reverse;
      
   }
   
   .options__body {
      flex-direction: column;
      display: flex;
      margin: 82px 10px 0 0;
      flex-wrap: wrap;
   }

   .options__item {
      padding: 41px 52px 59px 52px;
      background-color: rgba(242, 242, 242, 1);
      margin: 0 0 30px 0;
      min-width: 90%;
   }
   
   .options__column:not(:last-child){
      margin: 0 0px 0 0;
   }

   .benefits__body {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
   }
   
   .benefits__item {
      position: relative;
      padding: 0 19px 20px 0;
      min-height: 280px;
      width: 230px;
   }

   .benefits__column:not(:last-child) {
      margin: 0 0px 0 0;
   }

   .benefits__column {
      flex: 0 0 50%;
      position: relative;
      background-color: rgba(255, 255, 255, 1);
      max-width: 230px;
   }

   .comparison__body {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
   }

   .scale-comparison__image {
      position: absolute;
      margin: -250px 0 0 -63px;
   }

   .block-comparison__text {
      text-align: center;
   }

   .comparison__block {
      max-width: 470px;
      margin:  63px 0 300px 0;
      align-items: center;
      justify-content: center;
   }
   .comparison__scale {
      display: flex;
      align-items: center; 
   }

   .header__logo {
      display: flex;
      flex-wrap: nowrap;
      margin: -15px 40px 0 0;
   }

   .statistics {
      align-items: center;
      justify-content: center;
   }
  
   .price-tag__title:not(:last-child) {
      margin: 0 42px 0 30px;
   }

   .scale-comparison__scale {
      margin: 215px 0 0 0;
   }
   
   .comparison__body {
      display: flex;
      align-items: center;
   }

   .page__example {
      position: relative;
      display: flex;
      align-items: center;
   }

   .benefits .benefits__title {
      text-align: center;
   }

   .page__map iframe {
      object-position: right;
   }

   .map__content {
      flex-wrap: wrap;
      
   }

   .map__column {
      flex: 0 1 auto;
   
   }

   .map__body {
      margin: 95px 20px 104px 5px;
   }

   .footer__body {
      flex-wrap: wrap;
   }

   .social-media__logo {
      margin: 10px 0 10px 0;
   }

   .social-media__logo {
      margin: 10px calc(27px / 2);
   }
}
